<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.simgoodsreception692579" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>sim-goods-reception</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="3000" />
  <platform name="android">
      <!-- Icons -->
      <icon src="res/icon/android/drawable-ldpi.png" density="ldpi" />
      <icon src="res/icon/android/drawable-mdpi.png" density="mdpi" />
      <icon src="res/icon/android/drawable-hdpi.png" density="hdpi" />
      <icon src="res/icon/android/drawable-xhdpi.png" density="xhdpi" />
      
      <!-- Splash screen horizontal -->
      <splash src="res/screen/android/drawable-land-hdpi.png" density="land-hdpi"/>
      <splash src="res/screen/android/drawable-land-ldpi.png" density="land-ldpi"/>
      <splash src="res/screen/android/drawable-land-mdpi.png" density="land-mdpi"/>
      <splash src="res/screen/android/drawable-land-xhdpi.png" density="land-xhdpi"/>
     
      <!-- Splash screen portrait -->
      <splash src="res/screen/android/drawable-port-hdpi.png" density="port-hdpi"/>
      <splash src="res/screen/android/drawable-port-ldpi.png" density="port-ldpi"/>
      <splash src="res/screen/android/drawable-port-mdpi.png" density="port-mdpi"/>
      <splash src="res/screen/android/drawable-port-xhdpi.png" density="port-xhdpi"/>
        
  </platform>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>