<ion-view title= "{{'NAVTITLE_HISTORY' | translate }}">
    <div class="bar bar-subheader item-input-inset">
         <div class="row item-input item-select">
            <div class="col">
                 <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model="text">
                    
                </label>
             </div>
             <div class="col col-10"><i ng-show="text.length > 0" ng-click="text = ''" class="icon ion-close"></i></div>
            <div class="col">        
                    <select ng-options="item.label | translate for item in items" ng-model="type"></select>
             </div>
        </div>
    </div>
  <ion-content class='has-subheader'>
      <ion-list>
          <ion-item ng-repeat="dispatch in history | filter: text | searchFilter:text:type">
         <div class="card card_dispatch card_history " >
            <div class='item item-divider'>
                <button ng-if="dispatch.status == 'checked' " class="button button-full button-balanced" ng-click='goTo(dispatch.dispatch)'>
                Delivery: {{dispatch.dispatch}}</button>
            </div>
            <div class='item item-text-wrap'>
                <div class="row responsive-sm">
                    <div class="col">Supplier ID : {{dispatch.supplierID}}</div>
                    <div class="col">Customer ID : {{dispatch.customerID}}</div>
                    <div class="col">Status : {{dispatch.status}}</div>
                    <div class="col">{{'HOME_CHECKED_PALLETS'|translate}} : {{dispatch.checkedPallets}} / {{dispatch.numPallets}}</div>
                </div>
            </div>
          </ion-item>
      </ion-list>
      </ion-content>
</ion-view>