<ion-view view-title="Sign In" class="background">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <div style="text-align: center">
                    <h1>SIM Goods Reception</h1>
                    </div>
                <div class="list">
                    <label class="item item-input item-floating-label ">
                        <span class="input-label">{{ 'SIGNIN_USERNAME' | translate }}</span>
                        <input id="name" type="text" ng-model="name" placeholder="{{'SIGNIN_USERNAME' | translate }}">
                    </label>
                    <label class="item item-input item-floating-label ">
                        <span class="input-label">{{ 'SIGNIN_PASSWORD' | translate }}</span>
                        <input id="pw" ng-model="password" type="password" placeholder="{{'SIGNIN_PASSWORD' | translate }}">
                    </label>
                </div>
                <div ng-show="error" class="center_wrapper">
                    <font color="red">{{ 'SIGNIN_INVALID' | translate }}</font>
                    <p> 
                    </p>
                </div>
                <div class="center_wrapper">
                    <button class="button button-full button-balanced" ng-disabled="!name || !password" ng-click="signIn(name, password)">{{ 'BUTTON_SIGNIN_SIGN_IN' | translate }}</button>
                </div>
            </div>
        </div>
      </ion-content>
</ion-view>