<ion-view view-title="{{'NAVTITLE_HOME' | translate }}">
    <div class="bar bar-subheader item-input-inset">
        <button class="button button-clear button-positive" ng-click="selectType()">
                     {{type.text}}
        </button> 
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i></button>
            <input type="search" placeholder="Search" ng-model="text">
        </label>
        <button ng-show="text.length > 0" class="button button-clear button-positive" ng-click="text = ''"> 
            <i  class="icon ion-close placeholder-icon"></i>
        </button>  
             </div>
  <ion-content class='has-subheader'>
        <ion-refresher on-refresh='refresh()'></ion-refresher>
      <div class="item item-divider" align-text="center">{{date}}</div>
         <div class="card card_dispatch" ng-repeat="dispatch in dispatches | filter: text | searchFilter:text:type">
            <div class='item item-divider'>
                <button ng-if="dispatch.status != 'checked' " class="button button-full button-dark" ng-click='goTo(dispatch.dispatch)'>
                    Delivery: {{dispatch.dispatch}}</button>
                <button ng-if="dispatch.status == 'checked' " class="button button-full button-balanced" ng-click='goTo(dispatch.dispatch)'>
                Delivery: {{dispatch.dispatch}}</button>
            </div>
            <div class='item item-body'>
                <div class="row responsive-sm">
                    <div class="col">Supplier ID : {{dispatch.supplierID}}</div>
                    <div class="col">Customer ID : {{dispatch.customerID}}</div>
                </div>
                <div class="row responsive-sm">
                    <div class="col">Status : {{dispatch.status}}</div>
                    <div class="col">{{'HOME_CHECKED_PALLETS'|translate}} : {{dispatch.checkedPallets}} / {{dispatch.numPallets}}</div>
                </div>
            </div>
         </div>
      </ion-content>
</ion-view>