<ion-view title= "{{'NAVTITLE_HOME' | translate }}">
    <div class="bar bar-subheader item-input-inset">
        <select ng-options="item.label | translate for item in items" ng-model="type">
            </select>
        <div class="item-input-wrapper">
            <input type="search" placeholder="Search" ng-model="text">
            <i ng-show="text.length > 0" ng-click="text = ''" class="icon ion-close"></i>
        </div>
    </div>
  <ion-content class='has-subheader'>
        <ion-refresher on-refresh='refresh()'></ion-refresher>
      <ion-list>
          <ion-item ng-repeat="dispatch in dispatches | filter: text | searchFilter:text:type">
         <div class="card" >
            <div class='item item-divider'>
                <button class="button button-full button-dark" ng-click='goTo(dispatch.dispatch)'>
                Delivery: {{dispatch.dispatch}}</button>
            </div>
            <div class='item item-text-wrap'>
                <div class="row responsive-sm">
                    <div class="col">Supplier ID : {{dispatch.supplierID}}</div>
                    <div class="col">Customer ID : {{dispatch.customerID}}</div>
                    <div class="col">Status : {{dispatch.status}}</div>
                    <div class="col">{{'HOME_CHECKED_PALLETS'|translate}} : {{dispatch.checkedPallets}} / {{dispatch.numPallets}}</div>
                </div>
            </div>
         </div>
          </ion-item>
      </ion-list>
      </ion-content>
</ion-view>