<ion-view title= "{{'NAVTITLE_ABOUT' | translate }}">
  <ion-content class='has-header'>
      <button ng-click="changeLanguage('en-US')" translate='BUTTON_LANG_EN'></button>
      <button ng-click="changeLanguage('sv-SE')" translate='BUTTON_LANG_SE'></button>
      <div class="card">
        <div class="item item-divider" style="text-align: center;">
            <h2>Licenses</h2>
        </div>
        <div class="item item-text-wrap">
            <b>Apache License</b>
            
            
            
            <b>MIT License</b>
        </div>
        <div class="item item-divider">
            I'm a Footer in a Card!
        </div>
      </div>
  </ion-content>
</ion-view>