<ion-view view-title={{navTitle}}>
  <ion-content class='has-header'>
      {{message}}
        <h1>Home</h1>
        <ion-refresher on-refresh='refresh()' icon='ripple' ></ion-refresher>
        <ion-list>
         <div class="card" ng-repeat = 'orderItem in orderItems'>
            <div class='item item-divider'>
                {{orderItem.text}}
            </div>
            <div class='item item-text-wrap'>
                This is a basic Card with some text.
                <button class="button button-full button-positive" ng-click='goTo(orderItem.link)'>
                    Full Width Block Button
                </button>
            </div>
         </div> 
        </ion-list>
      </ion-content>
</ion-view>