<ion-view title= "{{'NAVTITLE_HOME' | translate }}">
    <div class="bar bar-subheader">
        <h2 class="title">{{today | date: mediumDate}}</h2>
    </div>
  <ion-content class='has-subheader'>
        <ion-refresher on-refresh='refresh()'></ion-refresher>
         <div class="card card2" ng-repeat = 'dispatch in dispatches'>
            <div class='item item-divider'>
                <button class="button button-full button-dark" ng-click='goTo(dispatch.id)'>
                {{dispatch.id}}</button>
            </div>
            <div class='item item-text-wrap'>
                <div class="row responsive-sm">
                    <div class="col">{{'HOME_DESCRIPTION'|translate}}:{{dispatch.description}}</div>
                    <div class="col">{{'HOME_DATE'|translate}}:{{dispatch.date}}</div>
                    <div class="col">Status:{{dispatch.status}}</div>
                    <div class="col">{{'HOME_CHECKED_PALLETS'|translate}}:{{pallets[dispatch.ID-1]}}</div>
                </div>
            </div>
         </div>
      </ion-content>
</ion-view>