<ion-view view-title={{navTitle}}>
  <ion-content class='has-header'>
      <p></p>
      <h1>{{message}}</h1>
      <ion-list>
      <div class='card' ng-repeat = 'item in orderItems'>
          <div class='item item-divider'>
                   <button class="button button-full button-positive" ng-click='goTo(item.id)'>
                      {{item.id}}</button>
                <i class="icon ion-checkmark-circled" id ='icon_red' ng-show='item.status=="checked with errors"'></i>
                <i class="icon ion-checkmark-circled" id ='icon_yellow' ng-show='item.status=="partially checked"'></i>
                <i class="icon ion-checkmark-circled" id ='icon_green' ng-show='item.status=="checked"'></i>
          </div>
          <div class='item item-text-wrap'>
              <table class="table">
                <thead>
                    <tr>
                    <td>Quantity</td><td>Weight</td><td>Status</td>
                    </tr>
                </thead>
                <td>{{item.quantity}}</td>
                <td>{{item.weight}}</td>
                <td>{{item.status}}</td>
              </table>
            </div>
          </div>
      </ion-list>
    </ion-content>
</ion-view>