<ion-view view-title={{navTitle}}>
  <ion-content class='has-header'>
    <p></p>
    <ion-list>
        <table class="table">
          <div class='item item-text-wrap'>
                <thead>
                    <td>Article nr.</td><td>Quantity</td>
                </thead>
                  <a ng-repeat = 'item in orderItems'>
                    <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.quantity}}</td>
                    </tr>
                </a>
              </table>
            </div>
      </ion-list>
  </ion-content>
</ion-view>