<ion-view view-title={{navTitle}}>
  <ion-content class='has-header'>
      <div class="row">
          <div class="col"><a href="" ng-click="sort='aid'; reverse=!reverse">Article nr.</a></div>
          <div class="col"><a href="" ng-click="sort='quantity'; reverse=!reverse">Quantity</a></div>
          <div class="col"><a href="" ng-click="sort='order'; reverse=!reverse">Order</a></div>
        </div>

        <div class="row" ng-repeat = "article in pallet | orderBy:sort:reverse">
          <div class="col">{{article.aid}}</div>
          <div class="col">{{article.quantity}}</div>
          <div class="col">{{article.order}}</div>
        </div>
  </ion-content>
</ion-view>