<ion-view view-title={{navTitle}}>
  <ion-content class='has-header padding'>
      <label class="item item-input item-select">
    <div class="input-label">
      Sorting :
    </div>
        <select ng-options="item.label for item in items" ng-model="sort">
            </select>
  </label>
      <div class='card' ng-repeat = "pallet in pallets | orderBy:sort.value:reverse">
          <div class="item item-divider">
                      Pallet: {{pallet.id}}
                <i class="icon ion-checkmark-circled" id ='icon_white' ng-show='pallet.status=="unchecked"'></i>
                <i class="icon ion-checkmark-circled" id ='icon_red' ng-show='pallet.status=="checked with errors"'></i>
                <i class="icon ion-checkmark-circled" id ='icon_yellow' ng-show='pallet.status=="partially checked"'></i>
                <i class="icon ion-checkmark-circled" id ='icon_green' ng-show='pallet.status=="checked"'></i>
              </div>
          <div class="item item-text-wrap">
                <div class="row responsive-sm">
                    <div class="col">Article id: {{pallet.aid}}</div>
                    <div class="col">Order id: {{pallet.order}}</div>
                    <div class="col">Quantity: {{pallet.quantity}}</div>
                    <div class="col">Weight: {{pallet.weight}}</div>
                    <div class="col">Status: {{pallet.status}}</div> 
                </div>
          </div>
          <button ng-click="setChecked(pallet);pallet.status = 'checked'">Mark as checked</button>
      </div>
    </ion-content>
</ion-view>