<ion-view view-title={{navTitle}}>
  <ion-content class='has-header'>
        <table class="table">
                <thead>
                    <td>Article nr.</td><td>Quantity</td><td>Order</td>
                </thead>
            </table>
        </ion-content>
    <ion-content class='has-header' id="tabul">
        <table class="table">
                    <tr ng-repeat = 'article in pallet'>
                        <td>{{article.aid}}</td>
                        <td>{{article.quantity}}</td>
                        <td>{{article.order}}</td>
                    </tr>
                                <tr ng-repeat = 'article in pallet'>
                        <td>{{article.aid}}</td>
                        <td>{{article.quantity}}</td>
                        <td>{{article.order}}</td>
                    </tr>
                                <tr ng-repeat = 'article in pallet'>
                        <td>{{article.aid}}</td>
                        <td>{{article.quantity}}</td>
                        <td>{{article.order}}</td>
                    </tr>
                                <tr ng-repeat = 'article in pallet'>
                        <td>{{article.aid}}</td>
                        <td>{{article.quantity}}</td>
                        <td>{{article.order}}</td>
                    </tr>
              </table>
  </ion-content>
</ion-view>