<ion-view view-title="Sign In" ng-controller='SigninCtrl'>
    <ion-content>
        <div class="card" id='signin_card1'>
            <div class="item item-text-wrap" id='signin_card2'>
                <form>
                    <p>Username</p>
                    <input type="text" ng-model="user.Name" placeholder="Username" align='center'>
                    <p>Password</p>
                    <input type="password" ng-model="user.Password" placeholder="Password" align='center'>
                    <button class="button button-balanced" ng-click="signIn(user)">Sign In</button>
                    <button class="button button-positive" ng-click="test()">Forgot your password?</button>
                </form>
            </div>
        </div>
        {{testa}}
  </ion-content>
</ion-view>