<ion-view view-title={{navTitle}}>
    <div class="bar bar-subheader item-input-inset">
        {{'HOME_CHECKED_PALLETS'|translate}} {{dispatch.checkedPallets}} / {{dispatch.numPallets}}
                <i class="icon ion-search placeholder-icon" ng-click="showSearch = !showSearch; searchText = ''"></i>
        <div class="item-input-wrapper" ng-show="showSearch">
            <input type="search" placeholder="Search" ng-model="searchText">
            <i ng-show="searchText.length > 0" ng-click="searchText = ''" class="icon ion-close"></i>
        </div>
    </div>
  <ion-content class="has-subheader">
    <ion-list>
        <item ng-repeat = "pallet in dispatch.pallets | filter:searchText" id="{{pallet.id}}">
          <div class="item item-divider" ng-click= "showDetails = !showDetails">
              <div ng-class="pallet.status"></div>
                      {{'PALLETS_PALLET'|translate}}: {{pallet.Item.StoolID}}
              <button class="button button-icon button-clear float_right">
              <i ng-class="{'icon ion-minus-circled': showDetails, 'icon ion-plus-circled': !showDetails}"></i>
              </button>
          </div>
          <div id="accordion" class="item item-text-wrap" ng-if='showDetails'>
                <div class="row responsive-sm">
                    <div class="col">{{'PALLETS_ARTICLE_ID'|translate}}: {{pallet.Item.ArticleNumber}}</div>
                    <div class="col">{{'PALLETS_ORDER_ID'|translate}}: {{pallet.Item.OrderNumber}}</div>
                    <div class="col">{{'PALLETS_QUANTITY'|translate}}: {{pallet.Item.Qty}}</div>
                    <div class="col">{{'PALLETS_STATUS'|translate}}: {{pallet.status}}</div> 
                    <button class="button button-positive" ng-click="show(pallet)">{{'BUTTON_PALLETS_ADJUST'|translate}}</button>
                </div>
            </div>
        </item>
      </ion-list>
    </ion-content>
</ion-view>