.adjusted {
    background-color: #ffc900;
}
.confirmed {
    background-color: #33cd5f;
}
.lost {
    background-color: #ef473a;
}
.unchecked {
    background-color: #fff;
}
.background, .background .pane, .background , .background {
    background-image: url(http://i.imgur.com/07t2mb2.gif)
}

#icon_red {
    font-size: 32px;
    color : red;
}

#icon_yellow {
    font-size: 32px;
    color : yellow;
}

#icon_green {
    font-size: 32px;
    color : green;
}
#icon_white{
    font-size: 32px;
    color : white;
}

.card1 {
    vertical-align:middle;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.card2 {
    vertical-align:middle;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
#clap {
        text-align: center;
        width: 100%;
}

#input {   
    text-align: center;
    width: 100%;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    margin-top: 10px;
    margin-bottom: 10px;  
}
#tabul {  
    margin-top: 30px;
    text-align: center;
}

/*  Courtesy of the fine people at AnuglarJS
*/
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.ion-plus-circled {
    font-size: 32px;
    float: right;
    box-shadow: 0 5px 0 #006599;
}
